<div class="inline-flex flex-col justify-center">
  <div
    class="widget-item outline outline-1 outline-[#aaa] rounded-s inline-block w-[28rem] bg-white"
  >
    <div class="py-.6 px-1 bg-gray-200 text-s flex">
      <span class="grow text-center">{{ title || "welcome" }}</span>
      <button (click)="deleteWidget()">
        <ng-icon name="lucideTrash2"></ng-icon>
      </button>
    </div>
    <div class="flex flex-col gap-y-.8 p-1">
      <textarea
        placeholder="Your message here."
        class="rounded-xs border border-gray-300 focus:outline-blue-500 py-.2 px-.6"
        [(ngModel)]="data.content"
      ></textarea>
      <input
        type="text"
        placeholder="Label"
        class="rounded-xs border border-gray-300 focus:outline-blue-500 py-.2 px-.6"
        [(ngModel)]="title"
      />
    </div>
  </div>
  <app-flowchart-menu [menu]="menu" [parent]="this" />
</div>
