<h1 class="text-xl font-bold mb-1">Chatbots</h1>
<table>
  <thead>
    <tr>
      <th colspan="3">Name</th>
    </tr>
  </thead>
  <tbody>
    @for (chat of flowchartService.chats; track chat) {
    <tr>
      <td>{{ chat.name }}</td>
      <td class="w-[5rem]">
        <a [routerLink]="['/flowchart', chat._id]" target="_blank"
          ><ng-icon size="1.6rem" name="lucideWorkflow"
        /></a>
      </td>
      <td class="w-[5rem]">
        <button (click)="deleteChat(chat)">
          <ng-icon size="1.6rem" name="lucideTrash2" />
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
