@import url("@angular/cdk/overlay-prebuilt.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.4rem;
  height: 100%;
  margin: 0;
}

.btn {
  display: inline-flex;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.2rem 0.8rem;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
}

.btn--primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 250ms;
}
.btn--primary:hover {
  background-color: #0056b3;
}
.btn--primary:active {
  background-color: #00408a;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  padding: 0.8rem 1.4rem;
}
table tbody tr {
  border-bottom: 1px solid #ebebeb;
}
table tr:hover {
  background-color: #f0f0f0;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #046faa;
  color: white;
  border-radius: 6px;
}
