@import url("@angular/cdk/overlay-prebuilt.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  margin: 0.8rem;
}

.btn {
  display: inline-flex;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.2rem 0.8rem;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  padding: 0.8rem 1.4rem;
}
table tbody tr {
  border-bottom: 1px solid #ebebeb;
}
table tr:hover {
  background-color: #f0f0f0;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #046faa;
  color: white;
  border-radius: 6px;
}
