<div class="inline-flex flex-col justify-center">
  <div
    class="operator-item outline outline-1 outline-[#aaa] rounded-s inline-block w-[28rem] bg-white"
  >
    <div class="py-.6 px-1 bg-gray-200 text-s flex">
      <span class="grow text-center">{{
        data.title || data.type | titlecase
      }}</span>
      <button (click)="deleteOperator()">
        <ng-icon name="lucideTrash2"></ng-icon>
      </button>
    </div>
    @switch(data.type) { @case ('message') {
    <app-message #operator [data]="data" />
    } @case ('collect') {
    <app-collect-data #operator [data]="data" />
    } @case ('choice') {
    <app-choice #operator [data]="data" />
    } @case ('option') {
    <app-option #operator [data]="data" />
    }@case ('end') {
    <app-end #operator [data]="data" />
    } }
  </div>
  @if (flowchartService.operatorTypes[data.type].length > 0) {
  <app-flowchart-menu
    [menu]="flowchartService.operatorTypes[data.type]"
    [parent]="this"
  />
  }
</div>
