@import url("@angular/cdk/overlay-prebuilt.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

.btn {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px 4px;
}
