<div
  class="w-[30rem] m-1 bg-white rounded-m overflow-hidden h-[50rem] grid grid-rows-[auto_1fr_auto]"
  style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px"
>
  <div class="bg-blue-200 px-1 py-.6">Chat name</div>
  <div class="p-1 flex flex-col gap-y-1 overflow-auto">
    @for (message of messageLog; track $index) { @if (message.type == 'choice')
    {
    <div class="bg-blue-100 rounded-s px-.8 py-.6">
      {{ message.message }}
      <div class="flex flex-col gap-y-.6 mt-.6">
        @for (option of message.data.options; track $index) {
        <button
          (click)="optionClicked(option)"
          class="px-1 py-.6 bg-blue-50 rounded-m border border-blue-200 outline-none hover:bg-blue-200"
        >
          {{ option.script.content }}
        </button>
        }
      </div>
    </div>
    } @else {
    <div
      class="rounded-s px-.8 py-.6 whitespace-pre-line"
      [ngClass]="{
        'bg-blue-100': message.sentBy == 'bot',
        'bg-gray-100': message.sentBy == 'user'
      }"
    >
      {{ message.message }}
    </div>
    } } @if (isBotTyping) {
    <div class="bg-blue-100 rounded-s px-.8 py-.8 self-start w-[5.6rem]">
      <div class="dot-flashing"></div>
    </div>
    }
  </div>
  @if (!endConversation) {
  <div class="p-1 pt-.6 flex gap-x-.8">
    <textarea
      [(ngModel)]="textarea"
      placeholder="Type a message"
      (keyup)="submitMessage($event)"
      class="border-2 border-gray-200 rounded-m focus:border-blue-500 outline-none grow px-.8 py-.6"
    ></textarea>
    <button class="btn">Send</button>
  </div>
  }
</div>
